services:
  crawler:
    build:
      context: ./rigour
      dockerfile: Dockerfile.crawler
    container_name: rigour-crawler
    depends_on:
      kafka:
        condition: service_healthy
    command:
      - "${CRAWLER_CIDR:-0.0.0.0/0}"
      - "--kafka-brokers"
      - "kafka:9092"
      - "--top-ports"
      - "${CRAWLER_DISCOVERY_TOP_PORTS:-1000}"
    networks:
      - rigour-network
    restart: unless-stopped

  persistence:
    build:
      context: ./rigour
      dockerfile: Dockerfile.persistence
    container_name: rigour-persistence
    depends_on:
      kafka:
        condition: service_healthy
      mongo:
        condition: service_started
      # go-geo-ip:
      #   condition: service_started
    command:
      - "--brokers"
      - "kafka:9092"
      - "--mongo-uri"
      - "mongodb://mongo:27017"
      - "--geoip-url"
      - "http://go-geo-ip:5000"
      - "--geoip-key"
      - "${MAXMIND_LICENSE_KEY:-mykey}"
    networks:
      - rigour-network
    restart: unless-stopped

  api:
    build:
      context: ./rigour
      dockerfile: Dockerfile.api
    container_name: rigour-api
    ports:
      - "8080:8080"
    command:
      - "--mongo-uri"
      - "mongodb://mongo:27017"
    depends_on:
      - mongo
    networks:
      - rigour-network
    restart: unless-stopped

  ui:
    build:
      context: ./rigour-ui
    container_name: rigour-ui
    depends_on:
     - api
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_BASE_URL=http://api:8080
    networks:
      - rigour-network
    restart: unless-stopped

networks:
  rigour-network:
    driver: bridge
